Source: ros-indigo-libsbp
Section: misc
Priority: extra
Maintainer: Michael Stoll <michael.stoll@stolltec.com>
Build-Depends: debhelper (>= 9.0.0), cmake
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-libsbp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-catkin
Description: Switftnav libspb realeases into ROS ecosystem
